@tailwind base;
@tailwind components;
@layer base {
  html {
    @apply text-gray-800;
  }
  .button {
    @apply text-white dark:text-black bg-active/70 dark:bg-active/90 hover:bg-active px-4 rounded-2xl flex flex-row justify-center text-sm p-2  hover:drop-shadow-sm;
  }
  .input {
    @apply !border-gray-200 focus:!border-active/50;
  }
  .h2 {
    @apply text-2xl font-bold text-text;
  }
}
@tailwind utilities;
:root {
  --background: 0, 0, 0;
  --sidebar: ;
  --border: ;
  --icon: ;
  --text: ;
  --active: ;
}
.light {
  --background: 255, 255, 255;
  --sidebar: 255, 255, 255;
  --border: 200, 200, 200;
  --icon: 0, 0, 0;
  --text: 51, 51, 51;
  --active: 229, 231, 235;
}
.dark {
  --background: 0, 0, 0;
  --sidebar: 0, 0, 0;
  --border: 3, 35, 46, 1;
  --icon: 255, 255, 255;
  --text: 204, 204, 204;
  --active: 0, 145, 213;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
